# Obsidian
.obsidian/
.trash/

# File temporanei e backup
*.tmp
*.bak
~$*
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# File specifici del progetto
/1° Anno/Geometria/Geometria e algebra.zip
Situazione Universitaria.md
